<!doctype html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <div class="error-container">
          <h1>404</h1>
          <p>Oops! The page you're looking for is not here.</p>
          <a href="/"> Go Back to Home </a>
        </div>
      </div>

      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
