<!doctype html>
<html>
  <head>
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
        <div class="title">
          <h1>Blog Posts</h1>
          <h2>Post anything you like</h2>
        </div>
        <form action="/posts" method="POST">
          <div>
            <input class="input" name="name" type="text" placeholder="Nickname" value="${
              requestBody.name ? sanitize(requestBody.name) : ""
            }">
                  ${validation(errorsObject.nameError)}
          </div>
          <div>  
            <textarea class="input" name="blogpost" type="textarea" rows="4" columns="50" placeholder="Type your message here">${
              requestBody.blogpost ? sanitize(requestBody.blogpost) : ""
            }</textarea>
                  ${validation(errorsObject.postError)}
          </div>
          <button class="submit-btn" type="submit">Submit</button>
        </form> 
      </div>  
        <div class="posted-blogs">
        ${blogPosts.map(postItem).join("")}
        </div>
  </body>
</html>