:root {
    --page-color: #8dfbd1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 380px;
    margin: auto;
}

.title {
    text-align: center;
    margin-bottom: 2em;
    padding-top: 3em;
}

.title h1 {
    margin-bottom: 0.3em;
}

.input {
    width: 100%;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #F0F0F0;
    color: #21221D;
}

.submit-btn {
    width: 150px;
    padding: 16px;
    margin-bottom: 1rem;
}

.posted-blogs {
    background-color: black;
    padding: 2em;
    display: grid;
    gap: 1rem;
}

.posts {
    background-color: white;
}

button {
    width: 100px;

}

body {
    background-color: var(--page-color);
}



.post-header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

}

.post-header-left {

    display: flex;
    gap: 2rem;

}

.post-header-right {
    display: flex;
    align-items: center;
}

.post-body {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
}

.blog-post {
    word-break: break-word;
}